

/* MAIN */
/* Main/BlogNews */

.blogs-main {
    display: grid;
}
.blogs-news-container {
    background-color: #333840;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    margin-top: 12px;
}
.blogs-main-new .title-news{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: 600;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    grid-column: 2;
    width: 75%;
    border-radius: 20px;
    margin-top: 12px;
}
.blogs-news-info-container {
    display: grid;
    padding: 0px 30px 0px 6px;
}
.blogs-news-info-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
    letter-spacing: 2px;
}
.blogs-news-info-container p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.blogs-btn {
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    width: 132px;
    height: 40px;
    border: 1px solid #F8FFFF;
    background-color: #F8FFFF;
    letter-spacing: 1px;
    cursor: pointer;
}
.blogs-btn a{    
    color: #020D0D;
}

/* Main/BlogsPost */

.blogs-posts-container {
    margin-bottom: 20px;
}
.blogs-posts-container h3{
    border-bottom: 1px solid #333840;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
}
.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 20px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;

}
.blogs-posts-container .post-container .blogpost-title {
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
.blogs-posts-container .post-container img {
    width: 100%;
}

/* FOOTER */

footer {
    border-top: 25px solid #0C9A9D;
    width: 100%;
    height: 50px;
    color: #FFF8FD;
    text-align: center;
    padding-top: 19px;
    background-color:#333840 ;
}
footer p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
footer p a {
    color: #0C9A9D;
}
footer p a:hover {
    color: #14E6EB;
    text-decoration: underline;
}