@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500;700&family=Poppins:wght@300;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #202020;
    font-family: 'Alegreya Sans', sans-serif;
    color: #FFF8FD;
}
a {
    text-decoration: none;
    display: inline;
    color: #FFF8FD;
}

/* HEADER */

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
/* Header/social-icons */
header .social-icon-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #F8FFFF;
}
header .social-icon-container .icons:last-child {
    margin-right: 60px;
}
header .social-icon-container .icons {
    display: flex;
    align-items: center;
}
header .social-icon-container .icons a {
    color: #FFF8FD;
    margin-right: 30px;
}
header .social-icon-container .icons a span img {
    width: 25px;
}

/* Header/nav */

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    
}
nav .nav-logo-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
nav .nav-logo-container img {
    width: 200px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}
nav .profile-link a:hover {
    text-decoration: underline;
}

/* MAIN */
/* Main/BlogNews */

.blogs-main {
    display: grid;
}
.blogs-news-container {
    background-color: #3c3e41;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    margin-top: 12px;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    grid-column: 2;
    width: 500px;
    border-radius: 20px;
    margin-top: 12px;

}
