* {
    padding: 0;
    margin: 0;
}
body { 
    /* Con estas especificaciones conseguimos que no podamos hacer scroll, conseguimos una página estáticas */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202020;
    font-family: 'Alegreya Sans'
}
a {
    text-decoration: none;
    display: inline;
    color: #FFF8FD;
}

/* HEADER */

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
/* Header/social-icons */
header .social-icon-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #F8FFFF;
}
header .social-icon-container .icons:last-child {
    margin-right: 60px;
}
header .social-icon-container .icons a {
    color: #FFF8FD;
    margin-right: 30px;
}
header .social-icon-container .icons a span img {
    width: 25px;
}

/* Header/nav */

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    
}
nav .nav-logo-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
nav .nav-logo-container img {
    width: 200px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
    font-family: "Poppins";
    font-size: 20px;
}
nav .profile-link a:hover {
    text-decoration: underline;
}

/* MAIN */

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .main-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}
main .text-main {
    color: #F8FFFF;
    font-family: 'Poppins';
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 30px;
}
main .btn-main {
    background-color: #0C9A9D;
    color: #FFF8FD;
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #0C9A9D;
}
main .btn-main:hover {
    background-color: transparent;
    color: #0C9A9D;
}